body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F7ED;
  color: #2B3752;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}

body p {
  font-size: 16px;
}
/*rgb(23, 163, 54) old green color*/

h1 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #2E6E65;
}

nav li {
  float: left;
  border-right: 2px solid #F4F7ED;
}

nav li:last-child {
  border-right: none;
}

nav a {
  display: block;
  font-weight: 300;
  color: #F4F7ED;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 10px;
  background-color: #2E6E65;
}

nav a:hover {
  background-color: #F4F7ED;
  color:  #2E6E65;
  font-weight: 500;
}

header {
  height: auto;
  width: 100%;
  background-color: #2E6E65;
  color: #F4F7ED;
  overflow: auto;
}

header h2 {
  font-weight: 100;
  margin-left:  7.5%;
}

.welcome {
  font-size: 40px;
  margin-left: 7.5%;
  padding-top: 20px;
}

.title {
  margin-left: 7.5%;
  padding-top: 50px;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

#info {
  line-height: 1.5;
}

#info a {
  color: #2B3752;
}

.button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button a {
  width: 300px;
  background-color: #2E6E65;
  padding: 15px;
  border-radius: 7px;
  color: #F4F7ED;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  border: 3px solid #F4F7ED;
}

.button a:hover {
  color: #2E6E65;
  font-weight: 500;
  background-color: rgba(23, 163, 54, 0.3);
  border: 3px solid #2E6E65;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
  max-width: 800px;
}

th, td {
  padding-left: 2%;
}

th {
  background-color: #2E6E65;
  color: #F4F7ED;
  text-align: left;
}

td {
  font-weight: 300;
  min-width: 150px;
}

tr:hover {
  background-color: #2E6E65;
  color: #F4F7ED;
}

#mapid {
  height: 300px;
  width: 50%;
  z-index: 1;
}

#travel p, a {
  color: #2B3752;
  line-height: 1.5;
}

.names {
  line-height: 1.5;
}

iframe {
  min-width: 300px;
}

footer h3 {
  font-size: 16px;
}

footer p {
  font-size: 12px;
}

footer a {
  color: #2B3752;
}
