body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F7ED;
  color: #2B3752;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}

body p {
  font-size: 16px;
  text-align: justify;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

.large {
  display: none;
}

nav ul {
  list-style-type: none;
  width: 97.5%;
  margin-top: 0;
  margin-left: 1.25%;
  margin-right: 1.25%;
  padding: 0;
}

nav li {
  float: left;
  border-right: 0px solid #F4F7ED;
}

nav li:last-child {
  float: right;
}

header {
  height: auto;
  width: 100%;
  background-color: #2E6E65;
  color: #F4F7ED;
  overflow: auto;
}

header h2 {
  font-weight: 100;
  text-align: center;
  margin-left: 0px;
  width: 100%;
}

@media screen and (max-width:504px) {
  header h2 {
    font-size: 18px
  }
}

.welcome {
  font-size: 36px;
  text-align: center;
  margin-left: 0px;
  padding-top: 40px;
  width: 100%;
}

.title {
  font-size: 30px;
  padding-top: 30px;
  text-align: center;
  margin-left: 0px;
  width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#info {
  line-height: 1.5;
}

#info a {
  color: #2B3752;
}

.sponsor {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.sponsor img {
  margin-left: 0px;
}

.button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button a {
  width: 300px;
  background-color: #2E6E65;
  padding: 15px;
  border-radius: 7px;
  color: #F4F7ED;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  border: 3px solid #2E6E65;
}

.button a:hover {
  color: #2E6E65;
  font-weight: 500;
  background-color: rgba(23, 163, 54, 0.3);
  border: 3px solid #2E6E65;
}

#schedule h3 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 1.5;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding-left: 2%;
}

th {
  background-color: #2E6E65;
  color: #F4F7ED;
  text-align: left;
}

td {
  font-weight: 300;
  min-width: 150px;
}

tr:hover {
  background-color: #2E6E65;
  color: #F4F7ED;
}

.initial-hidden {
  display: none;
}

#mapid {
  height: 300px;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#travel p, a {
  color: #2B3752;
  line-height: 1.5;
}

.names {
  line-height: 1.5;
}

footer h3 {
  font-size: 16px;
}

footer p {
  font-size: 12px;
}

footer a {
  color: #2B3752;
}
