body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background-color: #ECF0F1;
  color: #34495E;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}

hr {
  width: 85%;
  border: 2px solid #3498DB;
}

/* Navigation Bar*/

nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  display: inline;
  background-color: #ECF0F1;
  z-index: 100;
}

nav li {
  float: right;
  border-left: 2px solid #3498DB;
  font-size: 1.2em;
}

nav li:first-child {
  border-left: none;
  float: left;
}

nav li a, .dropbtn {
  display: inline-block;
  text-decoration: none;
  color: #34495E;
  line-height: 60px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav li a:hover{
  background-color: #3498DB;
  color: #ECF0F1;
  text-decoration: none;
}

/* Header */

header {
  margin: 100px auto 20px auto;
  width: 80%;
  height: auto;
  max-height: 500px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  max-height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}

/* Social media bar*/

.social-media {
  padding-top: 50px;
  margin: auto;
  width: 540px;
  height: auto;
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
}

.flavicon {
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
  line-height: 96px;
  color: grey;
  background-color: #F1C40F;
}

.flavicon:hover {
  color: #ECF0F1;
  background-color: #3498DB;
  text-decoration: none;
}

/* Projects */

main {
  width: 80%;
  margin: 0 auto;
}

main h1 {
  margin-left: 5%;
  font-size: 2em;
}

/* About */

#about {
  padding-top: 120px;
  margin: -20px auto 60px auto;
}

#about img {
  border-radius: 50%;
  border: 7px solid #F1C40F;
  max-height: 250px;
}

#about p {
  display: inline-block;
  line-height: 1.5;
  font-size: 2.3em;
  font-weight: 800;
  font-family: Raleway;
}

#about span {
  color: #F1C40F;
}

/* Projects */

#projects {
  padding-top: 80px;
  margin-top: -100px;
  margin-bottom: 15px;
  vertical-align: middle;
}

.logo {
  font-size: 5em;
  color: #3498DB;/*#34495E*/
}

#projects p {
  font-size: 1.0em;
  text-align: left;
  font-weight: 300;
}

.row {
  padding-top: 40px;
}

/* Footer */

footer {
  width: 80%;
  margin: auto;
  color: #34495E;
}

footer p {
  font-size: 13px;
  font-weight: 300;
}

footer a {
  color: #34495E;
}
