* {
  box-sizing: border-box;
}

/* Initial body */
body {
  margin: 0;
  padding: 0;
}

/* Basic styling */
.nav {
  background-color: rgba(255, 255, 255, 1);
  height: 55px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav li {
  display: inline-block;
}

.nav li a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgb(29, 54, 100);
  text-decoration: none;
  padding: 7px 30px;
  border-radius: 20px;
  margin: 5px;
}

a#first:hover {
  color: #fff;
  background-color: rgb(29, 54, 100);
}

a#second:hover {
  color: #fff;
  background-color: rgb(9, 172, 223);
}

a#third:hover {
  color: #fff;
  background-color: rgb(245, 71, 55);
}

.jumbotron {
  height: 800px;
  width: 100%;
  text-align: center;
  background-image: url("microarray_wo_axes.png");
  background-position: bottom left;
  position: relative;
}

.jumbotron h1 {
  color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: 700;
  position: relative;
  padding-top: 20px;
  text-shadow: 2px 2px rgb(29, 54, 100);
}

.jumbotron h3 {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: 1px 1px rgb(29, 54, 100);
}
