body {
  font-family: Roboto, sans-serif;
  width: auto;
  margin: 0;
  padding: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(23, 163, 54)
}

nav li {
  float: left;
}

nav a {
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
}

nav li a {
  background-color: rgb(23, 163, 54);
}

nav li a:hover {
  background-color: white;
  color: rgb(23, 163, 54);
  font-weight: 500;
}

header {
  height: 300px;
  width: 100%;
  background-color: rgb(23, 163, 54);
  color: white;
}

header h2 {
  font-weight: 100;
  margin-left:  7.5%;
}

.welcome {
  font-size: 40px;
  margin-left: 7.5%;
  padding-top: 20px;
}

.title {
  margin-left: 7.5%;
  padding-top: 50px;
}

.names {
  line-height: 25px;
}

.button {
  width: 300px;
  background-color: rgb(23, 163, 54);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.button {
  border: 3px solid white;
}

.button a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 30px;
}

.button:hover {
  background-color: white;
  border: 3px solid rgb(23, 163, 54);
}

.button a:hover {
  color: rgb(23, 163, 54);
  font-weight: 500;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  padding-left: 2%;
}

th {
  background-color: rgb(23, 163, 54);
  color: white;
  text-align: left;
}

td {
  font-weight: 300;
}

tr:hover {
  background-color: rgb(23, 163, 54);
  color: white;
}

footer a {
  color: black;
}
